header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #082434;
}

h1 {
    padding: 1.2rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f86804;
}

.cardtitle {
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    line-height: 3.2rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #d0540c;
}

.cardtop {
    width: 80%;
    height: 6rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    font-size: 2rem;
    color: white;
}

.cardbot {
    width: 80%;
    height: 10rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 2.5rem;
    color: #081c24;
}

.promote {
    font-size: 15px;
}

.buybutton {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0.1rem;
    width: fit-content;
    border-radius: 1.5rem;
    background-color: #082434;
    color: white;
    font-size: 16px;
}

.bb {
    border: solid;
    border-width: 1px;
    border-color: black;
}

.br {
    border: solid;
    border-width: 1px;
    border-color: red;
}