.cardtitle {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    height: 4rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f86804;
}

.cardtop {
    padding: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: goldenrod;
    color: black;
}

.cardbot {
    padding: 3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: white;
    color: #18344c;
}

.bb {
    border: solid;
    border-width: 1px;
    border-color: black;
}

.br {
    border: solid;
    border-width: 1px;
    border-color: red;
}