header {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #082434;
}

h1 {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #f86804;
}

.cardtitle {
    padding: 0.75rem;
    margin-bottom: 1.25rem;
    height: 4rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #d0540c;
}

.cardtop {
    padding: 2.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: goldenrod;
    color: white;
}

.cardbot {
    padding: 3rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background-color: white;
    color: #081c24;
}

.bb {
    border: solid;
    border-width: 1px;
    border-color: black;
}

.br {
    border: solid;
    border-width: 1px;
    border-color: red;
}